/*Color palette*/
:root {
    --main-storm: #0c2431;
    --main-teal: #194a50;
    --main-sunburst: #d37556;
    --main-sand: #d8a28c;
    --main-cloud: #e1dad2;
    --main-white: #f0f0f0;
}

/* Defaulting */
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
/* Defaulting */


/* Base Styles */
/* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

body {
    font-family: "Roboto Slab", sans-serif;
}

a {
    text-decoration: none;
    color: var(--main-cloud);
}
/* Base Styles */

/* img {
    display: block;
    width: 100%;
} */

/*Navigation Bar*/
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 7vh;
    width: 100%;
    background: var(--main-storm);
    z-index: 10;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
}

.nav-list a {
    display: inline-block;
    font-size: 2.0rem;
    margin: auto 2rem;
}

.nav-list a:hover {
    background: var(--main-sunburst);
}

@media (max-width: 650px) {
    .nav {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: space-between;
    }

    .nav-list {
        display: flex;
        margin: auto;
    }

    .nav-list a {
        font-size: 1.5rem;
    }
}
/*Navigation Bar*/

/*Welcome Section*/
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(var(--main-storm)10%, var(--main-teal));
}

.welcome-section h1 {
    font-family: "Lato", sans-serif;
    font-size: 9rem;
    color: var(--main-sunburst);
}

.welcome-section p {
    color: var(--main-cloud);
    font-size: 2.5rem;
    font-family: "Roboto Slab", sans-serif;
}

@media (max-width: 650px) {
    .welcome-section h1 {
        font-size: 4rem;
    }
    
    .welcome-section p {
        font-size: 2rem;
    }
}
/*Welcome Section*/

/*Projects Section*/
.projects-section {
    text-align: center;
    width: 100%;
    height: auto;
    max-height: auto;
    background: var(--main-cloud);
    padding-bottom: 5vh;
    padding-top: 7.5vh;
   
}

.projects-section-header {
    margin: 0 auto 3rem auto;
    align-content: center;
    font-family: "Lato", sans-serif;
    font-size: 4rem;
}   

.projects-line {
    border-bottom: 3px solid var(--main-sand);
    width: 10%;
    margin: 0 auto;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    grid-gap: 2vw;
    width: 80%;
    margin: 2vw auto;
}

.project-tile {
    display: flex;
    flex-direction: column;
    background-color: var(--main-teal);
    border-radius: 1em;
}

.project-tile:hover {
    transform: scale(1.05);
    color: var(--main-sunburst);
    transition: all .2s ease-in-out;
}

.project-image {
    display: block;
    background: var(--main-teal);
    border-radius: 1rem 1rem 0 0; 
    height: 100%;
    object-fit: cover;
}

.project-title {
    display: block;
    font-size: 2rem;
    align-items: center;
    padding: 1rem;
    margin: auto;
}

@media (max-width: 650px) {
    .projects-section-header {
        margin: 4rem auto 2rem auto;
        align-content: center;
        font-family: "Lato", sans-serif;
        font-size: 2rem;
    }  

    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 5vw;
        margin-top: 2rem;
    }
    .project-title {
        font-size: 1rem;
    }
}

/*Contacts Section*/
.contacts-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 92vh;
    background: var(--main-sand);
}

.contacts-section-header {
    margin-bottom: 1rem;
    align-content: center;
    font-family: "Lato", sans-serif;
    font-size: 4rem;
}

.contacts-section p {
    font-size: 2.5rem;
}

.contact-links {
    display: flex;
    justify-content: center;
    width:100%;
    max-width: 80vw;
    flex-wrap: wrap;
}

.contacts-button {
    font-size: 2.5rem;
    margin: 2rem;
}

.contacts-button:hover {
    transform: scale(1.2);
    color: var(--main-teal);
    transition: all .2s ease-in-out;
}

@media (max-width: 650px) {
    .contacts-section-header {
        margin: 4rem auto 0 auto;
        align-content: center;
        font-family: "Lato", sans-serif;
        font-size: 2rem;
    }
    .contacts-section p {
        font-size: 1.2rem;
    }

    .contacts-button {
        font-size: 1.2rem;
        margin: 1rem;
    }
}
/*Contacts Section*/

/* Footer */
footer {
    background-color: var(--main-teal);
    height: 7vh;
    width: 100%;
}
/* Footer */
